@using Lego_Project_Core.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<Lego_Project_Core.Models.LegoSets>

@{
    Layout = "Layout.cshtml";

    var sets = Model.Content.Children<LegoSet>();
}

<div class="lego-sets-page">
    <div class="set-page-info">
        <div class="title">
            <h1>@Model.Content.Title</h1>
        </div>
        <div>
            @Model.Content.MainContent
        </div>
    </div>

    <div class="lego-set-list row">
        @foreach (var set in sets)
        {
            <div class="col-3 review-list-item ">
                <div class="card">
                    <img class="card-img-top" src="@set.Image.Url" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@set.Name</h5>
                        <p class="card-text">@set.SetCode</p>
                        <a href="@set.Url" class="btn btn-primary">Read Review</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>